<div class="k-block col-md-3 mx-auto container">
    <div class="row header-div">
        <h2 class="col-md-12 header">Logout</h2>
    </div>
    <div class="icon-div">
        <mat-icon class="icon">exit_to_app</mat-icon>
    </div>
    <div class="row button-div">
        <button kendoButton class="warning col-md-9 mx-auto my-2 " [look]="'outline'" (click)="logout()">Logout</button>
        <button kendoButton class="warning col-md-9 mx-auto my-2 " [look]="'outline'" (click)="removeAccout()">Remove
            Account</button>
    </div>
</div>